:root {
	--dominant-color: #55597f;
	--secondary-color: #26283B;
	--accent-color: #F7F9F9;
}

* {
	font-family: Helvetica, sans-serif;
	box-sizing: border-box;
}

body {
	background-color: var(--dominant-color);
	min-height: 100vh;
	display: flex;
    flex-direction: column;
	margin: 0px;
}

h1, h2, h3, a, p, span {
	font-family: Helvetica, sans-serif;
	color: var(--accent-color);
}

a {
	text-decoration: none;
}

/* Styling for the top bar. */

nav {
	display: flex;
	width: 100%;
	border-bottom: 1px solid var(--accent-color);
	background-color: var(--secondary-color);
}

nav > .nav-section {
	padding: 2rem;
	display: flex;
	gap: 1rem;
	align-items: center;
	justify-content: center;
}

#nav-logo-section,
#nav-profile-section {
	flex-basis: 10%;
}

#nav-link-section {
	flex-grow: 1;
	border-left: 1px solid var(--accent-color);
	border-right: 1px solid var(--accent-color);
}

/* Styling for the planets in the solar system. */

#solar-system {
	display: grid;
	margin: 3rem;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr);
	column-gap: 2.5%;
	row-gap: 5%;
}

#solar-system > .planet {
	overflow: hidden;
	background-color: var(--secondary-color);
	text-align: justify;
}

#solar-system > .planet > p {
	margin: 1.2rem;
}

/* Styling for the footer. */

footer {
	margin-top: auto;
}

footer > .footer-section {
	display: flex;
}

#footer-copyright-section {
	align-items: center;
	justify-content: center;
}