:root {
	--dominant-color: #55597f;
	--secondary-color: #26283B;
	--accent-color: #F7F9F9;
}

* {
	box-sizing: border-box;
}

body {
	background-color: var(--dominant-color);
	margin: 0px;
}

h1, h2, h3, a, p, span {
	font-family: Helvetica, sans-serif;
	color: var(--accent-color);
}

a {
	text-decoration: none;
}

/* Styling for the topnav. */

nav {
	display: flex;
	width: 100%;
	border-bottom: 1px solid var(--accent-color);
	background-color: var(--secondary-color);
}

nav > .nav-section {
	padding: 2rem;
	display: flex;
	gap: 1rem;
	align-items: center;
	justify-content: center;
}

#nav-logo-section,
#nav-profile-section {
	flex-basis: 10%;
}

#nav-link-section {
	flex-grow: 1;
	border-left: 1px solid var(--accent-color);
	border-right: 1px solid var(--accent-color);
}

/* Table with information about planets. */

.planetTable table {
	text-align: center;
	margin-top: 120px;
	margin-left: 60px;
	margin-right: 60px;
	border-collapse: collapse;
}
.planetTable table, .planetTable th, .planetTable td {
	color: #F7F9F9;
	border: 1px solid;
	border-color: #F7F9F9;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 4px;
	padding-bottom: 4px;
}

/* Styling for the footer. */

footer {
	position: fixed;
	background-color: #26283B;
	bottom: 0;
	left: 0;
	right: 0;
}
.footer {
	display: flex;
    align-items: center;
}
.footer p {
	color: #F7F9F9;
	margin-left: 20px;
	margin-right: 20px;
	font-weight: 200;
}
.footer img {
	margin-left: 22px;
	height: 30px
}